# Node modules
node_modules/

# Log files
*.log

# Environment files
.env

# Dependency directories
jspm_packages/

# Build directories
dist/
build/
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# NPM package lock files
package-lock.json
yarn.lock

# Jest test coverage
coverage/

# Miscellaneous
*.pem
*.key
*.crt
*.p12
